a {
  text-decoration: none;
  color: #000;
}
.submit-btn{
  margin-top: 7px;
}
.page-wrapper{
  min-height: 100vh;
}
nav{
  position: sticky !important;
  top: 0px !important;
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
}
.page-content-wrapper{
  display: flex;
}
.side-nav{
  min-height: 86vh;
  border: 1px solid #fff;
  background-color: #394256;
  color: #fff;
  padding: 1rem;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-content{
  padding: 1rem;
  background-image: url('../../public/assets/images/welcome-image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow-y: auto;
  color: #fff;
  display: flex;
  align-items: center;
  width: 100%;
}
.page-content h2,h6{
  text-align: center;
}
